.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffeb3b; /* Light background color for fall */
    background-image: url('../../public/assets/orange-trees-background.jpg');
    background-size: cover;
    background-position: center;
  }
  
  .countdown {
    font-size: 5rem;
    color: darkorange;
  }
  
  .welcome {
    font-size: 2rem;
    color: brown;
  }
  
  .start-button {
    padding: 10px 20px;
    font-size: 1.5rem;
    background-color: orange;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s;
  }
  
  .start-button:hover {
    background-color: darkorange;
  }
  